Source: pclsync
Section: unknown
Priority: extra
Maintainer: pCloud <debian-maintainer@pcloud.com>
Build-Depends: debhelper (>= 7.0.50~), libssl-dev, pkg-config, qt4-qmake, qt4-dev-tools
Standards-Version: 3.8.4
Homepage: http://pcloud.com
#Vcs-Git: git://git.debian.org/collab-maint/pcloudfs-gui.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/pcloudfs-gui.git;a=summary

Package: pclsync
Architecture: any
Depends: gdebi | qapt-deb-installer, ${shlibs:Depends}, ${misc:Depends}
Description: pCloud Drive
 pCloud Drive is a GUI, that allows you to open your pCloud account as a virtual file system.  pCloud is a cloud storage provider that combines usability with sophisticated technology to give you the most convenient way to access all your files on the go. pCloud is supported on six platforms: Linux, MacOS and Windows as pCloud Drive; Android and iOS as native mobile applications; and through a web panel on my.pCloud.com. The platform capability includes advanced sharing options, file versioning and preserving of deleted files, advanced streaming options for audio and video files, as well as view options for the most commonly used file formats.  Some of the pCloud Drive specific features include virtual asynchronous file system and a multi-folder synchronization tool.
