Source: pclsync
Section: unknown
Priority: extra
Maintainer: pCloud <debian-maintainer@pcloud.com>
Build-Depends: debhelper (>= 7.0.50~), libssl-dev, pkg-config, qt4-qmake, qt4-dev-tools
Standards-Version: 3.8.4
Homepage: http://pcloud.com
#Vcs-Git: git://git.debian.org/collab-maint/pcloudfs-gui.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/pcloudfs-gui.git;a=summary

Package: pcloud-drive-client
Architecture: any
Depends: gdebi | qapt-deb-installer, ${shlibs:Depends}, ${misc:Depends}
Description: pCloud Drive
 A GUI client for pCloud Drive.
