[Desktop Entry]
Name=pCloud Drive
GenericName=pCloud Drive
Comment=pCloud Drive client
Icon=/usr/share/pixmaps/pcloud.png
Type=Application
Categories=Network
Exec=psyncgui
Terminal=false

